<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="menubar">
  <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example" id="menubar">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
        <div th:if="${session.loginUser!=null}">
          <button type="button" class="Nell" id="Nell">메뉴</button>
        </div>
        <ul class="navbar-nav col-lg-6 justify-content-lg-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/main/info}">홈페이지 정보</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/publicChat/main}">채팅방</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">업데이트 정보</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">자유게시판</a>
          </li>
        </ul>
        <div class="d-lg-flex col-lg-3 justify-content-lg-end">
          <button class="btn btn-primary">Button</button>
        </div>
      </div>
    </div>
  </nav>
  <div class="menubar-shadow">

  </div>

</div>
</body>
</html>